.typing{
    position: relative;
    margin-left: 10px;
}

.typing::after{
    content: "";
    position:absolute;
    width: 1px;
    height: 90%;
    border-right: 2px solid white; 
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
}

.dev__image{
  transition: transform 450ms;
}

.dev__image:hover{
  transform: scale(1.08);
}